body{
    background-color: #00224D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    color: #FF204E;
    font-weight: 800; 
}
label{
    font-size: 1.2rem;
    color: #ACE2E1;
}
input:focus{
    margin-top: 1rem;
    transition: all .5s ease;
    outline: none;
    background-color: #FFD1E3;
}

.container{
    width: 400px;
    
}
.error-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  button{
    margin-top: 2rem;
  }
  button:hover{
    
    background-color: #FFD1E3;
  }